@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Trocchi";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
}

/* all images now have this property to prevent compressing in resizing */
img {
  object-fit: contain;
}
