@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Trocchi";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Trocchi-Regular.ttf");
  }
}

img {
  object-fit: contain;
}
